.project {
  background-color: #fff;
  padding: 3.2rem 1.2rem;
  border: 1px solid rgba(238, 238, 238, 0.9);
  border-radius: 5px;

  &__excerpt {
    margin-bottom: $m-size;
  }

  &__title {
    display: block;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    color: inherit;
    position: relative;

    &::after {
      content: "";
      display: block;
      background-color: $color-primary;
      height: 35px;
      width: 5px;
      position: absolute;
      left: -13px;
      top: -10px;
    }
  }

  & .btn {
    display: block;
    margin-left: auto;
    width: min-content;
  }
}
.task {
  &__header {
    margin-bottom: 0.8rem;
    & i {
      font-size: 1.6rem;
    }
  }
  &__add {
    background-color: $color-primary;
  }
  &__label {
  }
}
