$color-primary-darkest: #38036d;
$color-primary-dark-2: #470a85;
$color-primary-dark-1: #6317b0;
$color-primary: #8f38e5;
$color-primary-light-1: #b278ed;
$color-primary-light-2: #dab8fa;
$color-primary-lightest: #f2e6fe;

$color-accent-success-darkest: #024524;
$color-accent-success-dark-2: #075f33;
$color-accent-success-dark-1: #0b7f45;
$color-accent-success: #1ec873;
$color-accent-success-light-1: #7ff5ba;
$color-accent-success-light-2: #bffdea;
$color-accent-success-lightest: #ebfef5;

$color-alert-darkest: #674804;
$color-alert-dark-2: #875f08;
$color-alert-dark-1: #e7bd04;
$color-alert: #f9ce10;
$color-alert-light-1: #f7d43b;
$color-alert-light-2: #fde3aa;
$color-alert-lightest: #fef7e6;

$color-danger-darkest: #860e24;
$color-danger-dark-2: #aa0e2a;
$color-danger-dark-1: #d40c31;
$color-danger: #eb0a33;
$color-danger-light-1: #f93458;
$color-danger-light-2: #fc5f7c;
$color-danger-lightest: #fef1f3;

$color-grey-darkest: #2c2b36;
$color-grey-dark-2: #3c3b4a;
$color-grey-dark-1: #4e4d60;
$color-grey: #68667f;
$color-grey-light-1: #8a88a0;
$color-grey-light-2: #aeadbd;
$color-grey-lightest: #f1f1f4;

$color-white: #fff;
$color-grey: #68667f;

$color-ct-grey: hsl(200, 11%, 64%);
$color-ct-gray-100: hsl(227, 47%, 96%);
$color-ct-primary: hsl(235, 87%, 70%);
$color-ct-primary: #707bf5;
$color-ct-indigo: hsl(235, 87%, 70%);
$color-ct-indigo: #727cf5;
$color-ct-purple: #6b5eae;

$color-ct-body-bg: hsl(225, 67%, 99%);
$color-ct-body-bg: hsl(240, 50%, 98%);

$color-black: #000;
$color-white: #fff;
////////////////////////////////////////////
// Elevation system
$elevation-1: 0 1px 3px rgba(0, 0, 0, 0.2);
$elevation-2: 0 4px 6px rgba(0, 0, 0, 0.1);
